* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.slick-track {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
}

.slick-list {
	overflow: hidden;
}

.countries {
	position: relative;
	padding: 0 6rem;
	margin: 3rem 3rem;
}

.countries .slick-slide {
	width: 300px;
}

.countries .country__img {
	width: 100%;
}

.countries .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.countries .slick-arrow.slick-prev {
	left: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E");
}

.countries .slick-arrow.slick-next {
	right: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3E%3C/svg%3E");
}

.countries .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 5rem;
}

.countries .slick-dots li {
	list-style: none;
}

.countries .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #00c46a;
	border: none;
	cursor: pointer;
}
