* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: system-ui;
	color: #555;
	background-color: #f7f7f7;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.countries {
	/* margin-bottom: 8rem; */
	display: flex;
	flex-wrap: wrap;
	font-size: 2rem;
	opacity: 1;
	transition: opacity 1s;
}

.country {
	background-color: #fff;
	box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
	font-size: 1.8rem;
	width: 300px;
	border-radius: 7px;
	margin: 30px 30px;
	/* overflow: hidden; */
}

.neighbour::before {
	content: 'Neighbour country';
	width: 100%;
	position: absolute;
	top: -4rem;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #888;
}

.neighbour {
	transform: scale(0.8) translateY(1rem);
	margin-left: 0;
}

.country__img {
	width: 300px;
	height: 170px;
	object-fit: cover;
	background-color: #eee;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.country__data {
	padding: 25px 37.5px 30px 37.5px;
}

.country__name {
	font-size: 2.7rem;
	margin-bottom: 7px;
}

.country__region {
	font-size: 1.4rem;
	margin-bottom: 25px;
	text-transform: uppercase;
	color: #888;
}

.country__row:not(:last-child) {
	margin-bottom: 10px;
}

.country__row span {
	display: inline-block;
	margin-right: 20px;
	font-size: 2.4rem;
}

.btn-country {
	border: none;
	font-size: 2rem;
	padding: 20px 50px;
	border-radius: 7px;
	color: white;
	background-color: orangered;
	cursor: pointer;
}

.images {
	display: flex;
}

.images img {
	display: block;
	width: 800px;
	margin: 40px;
}

.images img.parallel {
	width: 400px;
	margin: 20px;
	border: 30px solid white;
	box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
